@media (max-width: 1199px) {
    .main-footer .main-title .title {
        font-size: 1.3rem;
    }
    .education-wrapper-area .item h5 {
        font-size: 1rem;
    }
    .main-footer .social-list li:first-child a {
        margin-left: 8px;
    }
    .main-footer {
        .social-list {
            display: block; 
            li{
                padding:5px;
            }
        }
    }
    .nav-wrapper .custom-nav .custom-navbar .custom-nav-item .custom-nav-link {
        font-size: 12px;
    }
    .contribute-wrapper-area::before {
        top: 0;
    }
    .contribute-wrapper-area .contribute-wrap .contribute-inner h2 {
        font-size: 2.3rem;
    }
    .contribute-wrapper-area .text {
        font-size: 1rem;
    }
    .service-wrapper-area .service-wrap .box-content h4 {
        font-size: 25px;
    }
    h4.h4-sm.emergency-call.blue-color {
        font-size: 22px;
    }
    .research-wrapper-area h2 {
        font-size: 2.5rem;
    }
}
@media (max-width: 991px) {
    .main-footer .app-download .btn {
        margin-bottom: 20px;
    }
    .education-wrapper-area .item {
        text-align: center;
        display: block;
    }
    .education-wrapper-area .item h5 {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }
    .default-btn {
        padding: 6px 12px;
    }
    .main-footer .zigzag {
        display:none;
    }
    .default-btn {
        font-size: 1rem;
    }
    .banner-wrapper-area .banner-area p {
        font-size: 1.2rem;
    }
    .banner-wrapper-area .banner-area h1 {
        font-size: 2.9rem;
    }
    .nav-wrapper .header-top-area {
        background-color: #000;
        padding: 4px 0;
    }
    .nav-wrapper .header-top-area .td-list-style {
        text-align: center;
    }
    .banner-wrapper-area .banner-image {
        margin-top: 75px;
    }
    .contribute-wrapper-area .contribute-wrap .contribute-inner h2 {
        font-size: 1.7rem;
    }
    .contribute-wrapper-area::before {
        display:none;
    }
    .contribute-wrapper-area .text {
        font-size: 15px;
    }
    .research-wrapper-area h2 {
        font-size: 40px;
    }
    .research-wrapper-area h2::before {
        top: 60px;
    }
    .research-wrapper-area .image {
        margin-top:25px;
    }
}
@media (max-width: 767px) {
    .main-footer .main-title .title {
        margin-top: 20px;
    }
    .main-footer .social-list li:first-child a {
        margin-left: 0;
    }
    .main-footer .social-list {
        display: flex;
        justify-content:end;
    }
    .education-wrapper-area .item h5 {
        font-size: 1.1rem;
    }
    .research-wrapper-area .circle {
       display: none;
    }
    .sbox-2 {
        margin-top:20px;
    }
    .service-wrapper-area .service-wrap .box-content h4 {
        font-size: 23px;
    }
    .contribute-wrapper-area .contribute-wrap .contribute-list {
        margin-top: 20px;
    }
}
@media (max-width: 575px) {
    .education-wrapper-area .education-wrap h2 {
        font-size: 1.9rem;
    }
    .main-footer .bottom-footer .copy {
        line-height: 1.3;
        margin-bottom: 20px;
    }
    .education-wrapper-area .item .default {
        margin-left: 0;
    }
    .education-wrapper-area .education-wrap .links ul {
        display: block;
    }
    .main-footer .social-list li {
        padding: 0px;
    }
    .main-footer .circle {
       display:none;
    }
    .banner-wrapper-area .banner-area::after {
        top: 72px;
    }
    .banner-wrapper-area .banner-area h1 {
        font-size: 45px;
    }
    .service-wrapper-area .service-wrap .service-inner .service-title h2 {
        font-size: 1.9rem;
    }
    .service-wrapper-area .service-wrap .box-content {
        width: fit-content;
        margin: 35px auto 0;
    }
    .banner-wrapper-area .banner-area::before {
       display:none;
    }
    .banner-wrapper-area .banner-image .o-bg {
        right:auto;
    }
    .nav-wrapper .header-top-area a {
        font-size: 15px;
    }
    .banner-wrapper-area .banner-area p {
        font-size: 1.3rem;
    }
    .default-btn {
        font-size: 1rem;
    }
    .contribute-wrapper-area .contribute-wrap .contribute-inner h2 {
        font-size: 30px;
    }
    .contribute-wrapper-area .contribute-wrap .contribute-inner h2::before {
        top: 60px;
    }
    .contribute-wrapper-area .default-btn-one {
        font-size: 1.2rem;
    }
    .research-wrapper-area h2 {
        font-size: 30px;
    }
    .research-wrapper-area h2::before {
        top: 50px;
    }
}