/*
@File: Children Cancer Hospital Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************
** - Default CSS
** - Mobile Menu Style Area
** - Preloader Style Area
** - Nav style area CSS
*/

/*================================================
Default CSS
=================================================*/
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300;400;700&family=Open+Sans:wght@300;400;600;700&display=swap');

$primary-color1: #000;
$primary-font: 'Neuton', serif;
$secondary-font: 'Open Sans', sans-serif;
$primary-color2: #fff;
$primary-color3:#FC2C52;
$primary-color4: #222;;

body {
    padding:0;
    margin:0;
    scroll-behavior: smooth;
    overflow-x:hidden;
}
a {
    text-decoration:none !important;
}
ul{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
button {
    outline:none !important;
}

h1,h2.h3,h4,h5,h6 {
    line-height: 1.3;
    font-family: $primary-font;
    font-weight: 700;
    color: $primary-color1;
}
p {
    line-height:1.6;
    font-family: $secondary-font ;
    
}
.default-btn {
    background:linear-gradient(to right, #FC2C52, #d20e32);
    color: var(--light-color);
    border: none;
    padding: 16px 32px;
    border-radius: 30px;
    font-size: 1.5625rem;
    font-family: $secondary-font;
    font-weight: 600;
    color:$primary-color2;
    transition:all .3s ease-in;
    &:hover {
        transition-timing-function: .3s ease-in-out;
        color:$primary-color4;
    }
}
.custom-nav.fixed-top {
    transition: all .4s;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
    border-bottom:1px solid $primary-color3;
}
/*================================================
Navbar Area CSS
=================================================*/
.nav-wrapper {
    .header-top-area {
        background-color: $primary-color1;
        padding: 10px 0;
        a {
            color: $primary-color2;
            font-size: 20px;
            font-family: $secondary-font;
            font-weight: 400;
            transition: all .3s ease-in;
            &:hover {
                transition-timing-function: .3s ease-in-out;
                color:$primary-color3;
            }
        }
        .td-table {
            display: table;
            height: 100%;
            width: 100%;
        }
        
        .td-table-cell {
            display: table-cell;
            width: 100%;
            vertical-align: middle;
        }
        .td-list-style {
            padding: 0;
            list-style: none;
        }
        .td-list-inline li {
            display: inline-block;
        }
        .top-info-item {
            margin-right: 20px;
        }
        .top-social-icon-column {
            text-align: right;
            .td-list-inline {
                .top-social-item {
                    margin-right: 15px;
                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
        .td-list-style ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
    .custom-nav {
      background:#fff !important;
      .custom-navbar {
          .custom-nav-item {
              .custom-nav-link {
                 color: $primary-color4;
                 font-family: $primary-font;
                 font-size: 15px;
                 font-weight: 400;
                 letter-spacing:1px;
                 transition: all .3s ease-in;
                 &:hover {
                     transition-timing-function: .3s ease-in-out;
                     color: $primary-color3;
                 }
              }
          }
          .active {
            .custom-nav-link { 
                color:$primary-color3;
            }
          }
      }
    }
}

/*================================================
Preloader Style Area
=================================================*/
.loader_bg {
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
  }
  
  .loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
  }
  
  .loader::before {
    content: '';
    border: 1em solid $primary-color3;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: loader 2s linear infinite;
            animation: loader 2s linear infinite;
    opacity: 0;
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
  }
  
  .loader::after {
    content: '';
    border: 1em solid $primary-color3;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: loader 2s linear infinite;
            animation: loader 2s linear infinite;
    opacity: 0;
  }
  
  @-webkit-keyframes loader {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0;
    }
  }
  
  @keyframes loader {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0;
    }
  }
/*================================================
Banner Area CSS
=================================================*/
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
.banner-wrapper-area {
    padding:100px 0px 0px 0px;
    position:relative;
    .left-triangle{
      background-image: url('../images/left-triangle.svg');
      background-position: left bottom;
      top: 45%;
      left: 0;
      right: auto;
      background-position:contain;
      background-repeat: no-repeat;
      position: absolute;
      width: 180px;
      height: 420px;
      animation: float 6s ease-in-out infinite;
    }
    .right-triangle {
        background-image: url('../images/right-triangle.svg');
        background-position: right top;
        background-position:contain;
        background-repeat: no-repeat;
        position: absolute;
        width: 180px;
        height: 420px;
        top:34px;
        right:0;
        animation: float 6s ease-in-out infinite;
    }
    .banner-image {
        margin-top:35px;
        position:relative;
        .points-bg {
            background:url("../images/points.svg");
            position:absolute;
            width: 165px;
            height: 360px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            top: 36%;
            right: 8px;
            animation: float 6s ease-in-out infinite;
        }
        .o-bg {
            background:url("../images/o.svg");
            right: 12%;
            top: 10%;
            width: 37px;
            height: 37px;
            position:absolute;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            animation: float 6s ease-in-out infinite;
        }
    }
    .banner-area {
        margin-top:100px;
        position:relative;
        &::before {
            position:absolute;
            background:url("../images/plus.svg");
            content:"";
            top:-30px;
            left:0;
            width: 28px;
            height: 28px;
        }
        &::after {
            position:absolute;
            content: "";
            width:60px;
            height:5px;
            top:85px;
            left:0;
            border-radius:15px;
            background:linear-gradient(to right, #FC2C52, #d20e32);
        }
        h1 {
            font-weight: 700;
            font-size: 3.75rem;
            margin-bottom:35px;
        }
        p{
            font-size: 1.625rem;
            font-weight: 400;
            margin-bottom:45px;
        }
    }
}
/*================================================
Contribute Area CSS
=================================================*/
.contribute-wrapper-area {
    padding:100px 0px 50px 0px;
    position: relative;
    .zigzag {
        background:url("../images/zigzag.svg");
        position:absolute;
        width: 92px;
        height: 360px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        top: -92px;
        left: 201px;
        animation: float 6s ease-in-out infinite;
    }
    &::before {
        position: absolute;
        top: -160px;
        right: 270px;
        content:"";
        background:url("../images/points.svg");
        width:165px;
        height:360px;
        animation: float 6s ease-in-out infinite;
    }
    .contribute-wrap {
        .contribute-inner {
            h2 {
                font-size: 2.625rem;
                font-weight: 700;
                color:$primary-color4;
                position:relative;
                margin-bottom:50px;
                &::before {
                    position:absolute;
                    top:75px;
                    left:0;
                    content:"";
                    width:60px;
                    height:5px;
                    border-radius:15px;
                    background:linear-gradient(to right, #FC2C52, #d20e32);
                }
            }
            p {
                font-size: 20px;
                font-weight: 400;
                color:$primary-color4;
            }
            .main-list {
                li {
                    a {
                        position:relative;
                        color:$primary-color4;
                        font-weight: 700;
                        font-size: 22px;
                        display: block;
                        line-height: 2.5;
                        border-bottom: 1px solid #10153166;;
                        padding-right: 30px;
                        transition: color ease-in .2s;
                        &:hover {
                            color:$primary-color3;
                        }
                        &::before {
                            position:absolute;
                            top:0;
                            right:0;
                            content:"\f054";
                            font-family: "Font Awesome 5 Free";
                            right: 6px;
                            font-size: 20px;
                            transition: transform ease-in .3s,-webkit-transform ease-in .3s;
                            color:$primary-color3;
                        }
                    }
                }
            }
        }
        .contribute-list {
            position:relative;
            background: $primary-color3;
            width:100%;
            padding:16px 32px;
            border-radius: 8px;
            hr {
                color:$primary-color2;
            }
            h2 {
                text-align: center;
                color:$primary-color2;
            }
            .cost {
                font-size: 1.5rem;
                font-weight: 400;
                color:$primary-color2;
                font-family: $secondary-font;
            }
            .number {
                color: $primary-color2;
                font-size: 35px;
            }
        }
    }
    .default-btn-one {
        background:#1b1c4b;
        color: $primary-color2;
        border: none;
        padding: 10px 20px;
        border-radius: 30px;
        font-size: 1.5625rem;
        font-family: $secondary-font;
        font-weight: 600;
        color:$primary-color2;
        transition:all .3s ease-in;
    }
    .button-btn {
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
    }
     .action-item {
        position: relative;
        border-radius: 8px;
        padding: 48px 16px 16px;
        margin: 48px 8px 16px;
        min-width: 168px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in;
        border:1px solid $primary-color3;
        a {
            color:$primary-color4;
            font-family: $secondary-font;
            font-weight: 400;
            font-size: 20px;
            transition: all .3s ease-in;
        }
        &:hover {
            transition-timing-function: .3s ease-in-out;
            background: $primary-color3;
            a {
                color:$primary-color2;
                transition-timing-function: .3s ease-in-out;
            }
        }
    }
     .icon {
        width: 68px;
        height: 68px;
        padding: 12px;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        box-shadow: 0 0 8px rgba(252,184,6,.1),0 0 10px rgba(252,184,6,.11),0 0 12px rgba(252,184,6,.21);
        img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
        }
    }
    .text {
        font-size: 1.25rem;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
    }
}

/*================================================
Service Area CSS
=================================================*/
.service-wrapper-area {
    padding:100px 0px 60px 0px;
    background:url("../images/ssrp-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    position:relative;
    &::before {
        position:absolute;
        top: 95px;
        left: 95px;
        content:"";
        background:url("../images/plus.svg");
        width: 28px;
        height: 28px;
        animation: float 6s ease-in-out infinite;
    }
    .service-wrap {
        .service-inner {
            .service-title {
                h2 {
                    text-align: center;
                    font-size: 2.8125rem;
                    font-weight: 700;
                    color:$primary-color4;
                    position:relative;
                    &::before {
                        position: absolute;
                        top: 70px;
                        left: 50%;
                        content: "";
                        width: 60px;
                        height: 5px;
                        border-radius: 15px;
                        background: linear-gradient(to right, #FC2C52, #d20e32);
                        transform: translateX(-50%);
                    }
                }
            }
        }
        .box-content {
            margin-top:50px;
            &:hover {
               .image {
                img {
                    transition-timing-function: .3s ease-in-out;
                    border:1px solid $primary-color4;
                }
               }
                h4 {
                    transition-timing-function: .3s ease-in-out;
                    color:$primary-color3;
                }
            }
            .image {
               img {
                   border:1px solid $primary-color2;
                   border-radius: 5px;
                   transition: all .3s ease-in;
               }
            }
            h4 {
                font-size: 30px;
                font-weight: 700;
                color:$primary-color4;
                margin-top:20px;
                transition: all .3s ease-in;
            }
        }
    }
    .read-btn {
        margin-top:50px;
    }
}

/*================================================
Latets Area CSS
=================================================*/
.latest-wrapper-area {
    padding:100px 0px 0px 0px;
    position:relative;
    .circle {
        position:absolute;
        top:0;
        right: 0;
        background:url("../images/circle.svg");
        animation: float 6s ease-in-out infinite;
        width: 750px;
        height: 375px;
        z-index: -1;
    }
    .dots-area {
        width: 165px;
        height: 360px;
        position:absolute;
        top:25px;
        left:0;
        background:url("../images/points.svg");
        animation: float 6s ease-in-out infinite;
        z-index: -1;
    }
     .sbox-2 {
        text-align: center;
        margin-bottom: 30px;
        padding: 60px 10px;
        border-radius: 6px;
        transition: all 300ms ease-in-out;
        background-color: #fff;
        border: 1px solid #f5f5f5;
        transition: all .3s ease-in;
        box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
        &:hover {
            background:$primary-color3;
            h5 {
                color:$primary-color2;
            }
        }
        a {
            color: #333;
            text-decoration: none;
            -webkit-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out;
            .sbox-2-icon {
                color: #00a3c8;
                -webkit-transition: all 300ms ease-in-out;
                transition: all 300ms ease-in-out;
                width: 50px;
                position: relative;
                left: 50%;
                transform:translateX(-50%);
                margin-bottom: 15px;
                img {
                    width: 100%;
                }
            }
        }
    }
    h5 {
        letter-spacing: -0.5px;
        margin-top: 25px;
        margin-bottom: 0;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        font-size: 1.1875rem;
        color: #004861;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        transition: all .3s ease-in;
    }
    .all-btn {
        margin-top:20px;
    }
} 

/*================================================
About Area CSS
=================================================*/
.about-wrapper {
    padding:100px 0px 0px 0px;
    position:relative;
    .circle {
        position: absolute;
        top: -81px;
        right: 80px;
        background: url(../images/points.svg);
        -webkit-animation: float 6s ease-in-out infinite;
        animation: float 6s ease-in-out infinite;
        width: 298px;
        height: 360px;
        z-index: -1;
    }
    .abox-2-holder {
        background-color: #fff;
        border: 1px solid #eee;
        border-radius: 6px;
        box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.75);
        .abox-2 {
            padding: 45px 30px 40px;
            overflow: hidden;
             h5 {
                margin-bottom: 30px;
                line-height: 1;
                font-size: 1.25rem;
                color: $primary-color3;
                font-weight: 700;
                font-family: $secondary-font;
            }
            table {
                margin-bottom: 0;
                width: 100%;
                color: #212529;
                td {
                    font-size: 15px;
                    padding: 13px 0;
                    border-top: none;
                    border-bottom: 1px dashed #aaa;
                    font-family: $secondary-font;
                    font-weight: 700;
                }
            }
        }
    }
}

/*================================================
Research Area CSS
=================================================*/
.research-wrapper-area {
    padding:100px 0px 0px 0px;
    position:relative;
    .circle {
        position:absolute;
        top:0;
        left: 0;
        background:url("../images/circle.svg");
        animation: float 6s ease-in-out infinite;
        width: 750px;
        height: 375px;
        z-index: -1;
    }
    h2 {
        font-family: $primary-color4;
        font-weight: 600;
        margin-bottom: 32px;
        font-size: 2.8125rem;
        position: relative;
        &::before {
            position: absolute;
            top: 68px;
            left:0;
            content: "";
            width: 60px;
            height: 5px;
            border-radius: 15px;
            background: -webkit-gradient(linear, left top, right top, from(#FC2C52), to(#d20e32));
            background: linear-gradient(to right, #FC2C52, #d20e32);
        }
    }
    .main-list {
        li {
            a {
                position:relative;
                color:$primary-color4;
                font-weight: 700;
                font-size: 22px;
                display: block;
                line-height: 2.5;
                border-bottom: 1px solid #10153166;;
                padding-right: 30px;
                transition: color ease-in .2s;
                &:hover {
                    color:$primary-color3;
                }
                &::before {
                    position:absolute;
                    top:0;
                    right:0;
                    content:"\f054";
                    font-family: "Font Awesome 5 Free";
                    right: 6px;
                    font-size: 20px;
                    transition: transform ease-in .3s,-webkit-transform ease-in .3s;
                    color:$primary-color3;
                }
            }
        }
    }
}

/*================================================
Education Area CSS
=================================================*/
.education-wrapper-area {
    padding:100px 0px 0px 0px;
    position:relative;
    background:#FFFAF5;
    position:relative;
    .circle {
        position: absolute;
        height: 375px;
        display: block;
        background-image: url(../images/circle.svg);
        background-repeat: no-repeat;
        background-size: contain;
        left: 50%;
        top: 0;
        width: 100%;
        max-width: 750px;
        -webkit-transform: translate(-50%,0);
        transform: translate(-50%,0);
    }
    .education-wrap {
        h2 {
            margin-bottom: 32px;
            font-size: 2.8125rem;
            text-align: center;
            position:relative;
            &::before {
                position: absolute;
                top: 70px;
                left: 50%;
                content: "";
                width: 60px;
                height: 5px;
                border-radius: 15px;
                background: linear-gradient(to right, #FC2C52, #d20e32);
                transform: translateX(-50%);
            }
        }
        .box-image {
            width: 240px;
            height: 186px;
            position:relative;
            margin: 16px auto;
            .image {
               position:absolute;
               top:0;
               left:0;
               width:100%;
               height:100%;
               background:url("../images/LD-300x231.webp");
               background-repeat: no-repeat;
               background-position: center;
               background-size: contain;
            }
        }
        .item-content {
            h5 {
                text-align: center;
                font-size: 1.75rem;
                line-height: 38px;
            }
        }
        .links {
            ul {
                display: flex;
                justify-content: center; 
                margin-top:40px;
                li {
                    a.active {
                        color: $primary-color3;
                    }
                    a {
                        padding: 0 16px;
                        position: relative;
                        display: block;
                        font-family: $secondary-font;
                        font-size: 1.125rem;
                        color: $primary-color4;
                        line-height: 23px;
                        transition: all .3s ease-in;
                        &:hover {
                            transition-timing-function: ease-in-out;
                            color:$primary-color3;
                        }
                        &::before {
                            content: ".";
                            position: absolute;
                            top: 0;
                            font-size: 2.5rem;
                            right: 0;
                            line-height: 2px;
                        }
                    }
                }
            }
        }
    }
    .item {
        display:flex;
        h5 {
          margin-top:20px;
          font-size: 1.2rem;
        }
        .default {
            margin-left: 70px;
        }
    }
}

.main-footer {
    padding: 48px 0 0;
    overflow: hidden;
    background-color: #fff;
    position:relative;
    .circle {
        width: 165px;
        height: 360px;
        position: absolute;
        top: 25px;
        right: 0;
        background: url(../images/points.svg);
        -webkit-animation: float 6s ease-in-out infinite;
        animation: float 6s ease-in-out infinite;
    }
    .zigzag {
        background: url(../images/zigzag.svg);
        position: absolute;
        width: 92px;
        height: 360px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        top: -92px;
        left: 0;
        -webkit-animation: float 6s ease-in-out infinite;
        animation: float 6s ease-in-out infinite;
    }
    .main-title {
        color: $primary-color4;
        .title {
            font-size: 1.75rem;
            position:relative;
            margin-bottom: 40px;
            &::after {
                content: "";
                display: block;
                margin-top: 8px;
                width: 60px;
                height: 5px;
                border-radius: 15px;
                position:absolute;
                background: linear-gradient(to right, #FC2C52, #d20e32);
            }
        }
    }
    .social-list {
        display: flex;
        justify-content: center;
        margin: 0 0 32px;
        padding: 0;
        li:first-child a {
            margin-left: 0;
        }
        li {
            a {
                display: block;
                width: 40px;
                height: 40px;
                background-color: #f2f2f2;
                border-radius: 50%;
                margin: 0 8px;
                line-height: 40px;
                text-align: center;
                font-size: 18px;
                color: $primary-color2;
                transition:all .3s ease-in;
                &:hover {
                    transition-timing-function: ease-in-out;
                    background:$primary-color2 !important;
                    color:$primary-color3;
                    border:1px solid $primary-color3;
                }
            }
        }
    }
    li.facebook a {
        background-color: #1d67ba;
        border:1px solid #1d67ba;
    }
    li.twitter a {
        background-color:#00baf2;
        border:1px solid #00baf2;
    }
    li.linked-in a {
        background-color: #055995;
        border:1px solid #055995;
    }
    li.youtube a {
        background-color: #d10703;
        border:1px solid #d10703;
    }
    li.instagram a {
        background: radial-gradient(circle at 30% 107%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 102%)!important;
        border:1px solid #d6249f;
    }
    .app-download {
        display: flex;
        .btn {
            width: 119px;
            height: 39px;
            padding: 0;
            margin-top: 16px;
            margin-right: 9px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 10px;
        }
    }
    .list {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding-left: 38px;
            position: relative;
            margin-bottom: 16px;
            .fas.fa-phone-volume {
                font-size: 1.5rem;
            }
            .fas {
                position: absolute;
                left: 0;
                top: 4px;
                color: $primary-color3;
                font-size: 1.25rem;
                width: 28px;
                text-align: center;
            }
            .text {
                font-family: $primary-font;
                font-weight: 600;
                font-size: 14px;
                margin-bottom: 8px;
                display: block;
                line-height: 23px;
            }
            .mail {
                font-size: 20px !important;
                a {
                    color: $primary-color3;
                }
            }
        }
    }
    .phone {
        font-size: 35px !important;
        margin-bottom: 24px !important;
    }
    .links {
        list-style: none;
        padding: 0;
        margin: 0;
        a {
            font-size: .875rem;
            font-weight: 600;
            line-height: 26px;
            color: $primary-color4;
            display: block;
            padding: 2px 0;
            -webkit-transition: all .3s cubic-bezier(.67,.14,.04,.96);
            transition: all .3s cubic-bezier(.67,.14,.04,.96);
            &::before {
                content: "-";
                margin-right: 4px;
                font-size: .75rem;
            }
        }
    }
    .jci-prize {
        display: flex;
        flex-flow: column;
        align-items: center;
        .logo {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
        .text {
            margin-top: 16px;
            font-size: 16px;
            font-weight: 700;
            font-family: $primary-font;
        }
    }
    .bottom-footer {
        margin-top: 32px;
        border-top: 1px solid #faefe4;
        .copy {
            font-size: 13px;
            font-weight: 600;
            line-height: 50px;
            margin: 0;
            font-family: $secondary-font;
            text-align: center;
        }
    }
}